doctype html
html.
	<head>
		<script src="javascripts/jquery.js"></script>
		<link href="stylesheets/bootstrap.css" rel ="stylesheet">
		<script src="javascripts/bootstrap.js"></script>
	</head>
	<body>
		<div class = "jumbotron">
			<h1> Hello World </h1>
		</div>
		
		<link href="stylesheets/main.css"></script>
		<script src="javascripts/main.js"></script>
	</body>